.sidebar {
	clear: both;
	background-color: #ADD8E6;
	height: 1000px;
    
}

.sidebar .header {
/*    margin: auto;*/
	padding-top: 15px;
}

.sidebar .header .title {
	text-align: center;
	font-size: 30px;
}

.sidebar .header .new-chat-room {
    text-align: center;
}

.sidebar .rooms-list {
    margin: auto;
    font-family: sans-serif;
	padding-top: 15px;
}

.sidebar .rooms-list {
	text-align: center;*/
}

.activeroom {
    background-color: #efe6e6;
    height: 500px;
    text-align: left;
    margin: auto;
}

.error {
    margin-top: 15px;
    color: crimson;
    border: 2px solid red;
}

label {
    font-size: 1.2rem;
}