<section>
<div class="col-md-3 sidebar">
    <div class="header">
    <p class="title">Bloc Chat</p>
        <div class="new-chat-room">
        <button class="btn btn-primary" ng-click="home.open()"><strong></strong>Create New Chat Room</button>
        </div>
        
        <section class="rooms-list">
    <div ng-repeat="room in home.rooms">
        <a ng-click="home.createActive(this)">{{room.$value}}</a>
        </div>
            
         <ng-include src="'/templates/activeRoom.html'"></ng-include>
        
    </section>
    </div>
    </div>
</section>
